
h1{
	font-style: bold;
	font-size: 700%;
	text-align: center;
}
p{
	font-size:150%;
}
	
h2{
	font-style: italic;
	font-size: 150%;
}
img {
  display: block;
  width: 30%;
  margin: auto;
}
